<section class="article mt-7">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>新增文章</button>
      <ng-template ngbNavContent>
        <app-add-article></app-add-article>
      </ng-template>
    </li>

    <li [ngbNavItem]="2">
      <button ngbNavLink>修改文章</button>
      <ng-template ngbNavContent>
        <app-edit-article></app-edit-article>
      </ng-template>
    </li>

    <li [ngbNavItem]="3">
      <button ngbNavLink>刪除文章</button>
      <ng-template ngbNavContent>
        <app-delete-article></app-delete-article>
      </ng-template>
    </li>
  </ul>
</section>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
