<section class="article mt-7">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>新增文章</button>
      <ng-template ngbNavContent>
        <form [formGroup]="articleForm" class="form-article p-4 rounded" (ngSubmit)="onSubmit()">
          <label for="name">電影名稱</label>
          <input id="name" type="text" formControlName="name" placeholder="請輸入電影名稱">

          <label for="focus">電影金句</label>
          <input id="focus" type="text" formControlName="focus" placeholder="請輸入最喜歡的電影名言/金句">

          <label for="content">文章內容</label>
          <textarea class="lh-lg fs-7" name="content" id="content" formControlName="content"
            placeholder="請輸入電影影評/電影心得"></textarea>

          <label for="photo">上傳圖片</label>
          <input id="photo" type="file" (change)="onClickFileSelectBtn($event)">

          <img *ngIf="imageBase64" [src]="imageBase64" alt="圖片預覽" class="preview-image">

          <div class="button">
            <button type="submit" class="btn btn-primary new-btn my-4" [disabled]="articleForm.invalid">新增文章</button>
          </div>
        </form>
      </ng-template>
    </li>

    <li [ngbNavItem]="2">
      <button ngbNavLink>修改文章</button>
      <ng-template ngbNavContent>
        <div *ngIf="movies.length > 0">
          <div class="container">
            <label class="select py-3 mb-2 fs-3-5" for="selectMovies">請選擇要修改的電影</label>
            <select id="selectMovies" (change)="onMovieSelect($event)">
              <option value="">請選擇要修改的電影</option>
              <option *ngFor="let movie of movies" [value]="movie.id">{{ movie.name }}</option>
            </select>
          </div>

          <form *ngIf="selectedMovieId" [formGroup]="articleForm" class="form-edit-article p-4 rounded"
            (ngSubmit)="onEditSubmit()">
            <label for="name">電影名稱</label>
            <input id="name" type="text" formControlName="name">

            <label for="focus">電影金句</label>
            <input id="focus" type="text" formControlName="focus">

            <label for="content">文章内容</label>
            <textarea class="lh-lg fs-7" id="content" formControlName="content"></textarea>

            <label for="photo">上傳圖片</label>
            <input id="photo" type="file" (change)="onClickFileSelectBtn($event)">

            <img *ngIf="imageBase64" [src]="imageBase64" alt="圖片預覽" class="preview-image">

            <div class="button">
              <button type="submit" class="btn btn-primary edit-btn my-4" [disabled]="articleForm.invalid">修改文章</button>
            </div>
          </form>
        </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="3">
      <button ngbNavLink>刪除文章</button>
      <ng-template ngbNavContent>
        <div *ngIf="movies.length > 0" class="delete-section p-3">
          <h3 class="text-center pt-2 pb-3">請選擇要刪除的文章</h3>
          <div class="movie-list">
            <div *ngFor="let movie of movies" class="movie-item p-3">
              <div class="movie-info">
                <h4>{{ movie.name }}</h4>
                <p>{{ movie.focus }}</p>
                <p class="author">作者：{{ movie.author }}</p>
                <p class="updatetime">更新時間：{{ movie.updateTime }}</p>
              </div>
              <button class="btn btn-danger" (click)="onDeleteSelected(movie.id)">刪除</button>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
</section>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
