.form-article {
  margin: 40px auto;
  width: 100%;
  max-width: 1000px;
  border: 1px solid var(--border-color3);
  color: var(--text-color);
  position: relative;

  .contentlength {
    color: var(--text-color3);
    position: absolute;
    bottom: 230px;
    right: 33px;
    padding: 0 3px;
    border-radius: 3px;
    z-index: 1;
  }

  .namelength {
    color: var(--text-color3);
    position: absolute;
    top: 66px;
    right: 33px;
    padding: 0 3px;
    border-radius: 3px;
    z-index: 1;
  }

  .focuslength {
    color: var(--text-color3);
    position: absolute;
    top: 156px;
    right: 33px;
    padding: 0 3px;
    border-radius: 3px;
    z-index: 1;
  }
}

.form-article input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid var(--border-color3);
  border-radius: 4px;
}

.form-article textarea {
  width: 100%;
  max-width: 1000px;
  min-height: 200px;
  padding: 10px;
  border: 1px solid var(--border-color3);
  background-color: var(--background-color);
  border-radius: 4px;
  color: var(--text-color);
}

label {
  display: block;
  margin-bottom: 8px;
  color: var(--text-color);
}

.button {
  margin: 0;
}

.preview-image {
  max-width: 300px;
}
