<form [formGroup]="articleForm" class="form-article p-4 rounded" (ngSubmit)="onSubmit()">
  <label for="name">電影名稱</label>
  <input id="name" type="text" formControlName="name" placeholder="請輸入電影名稱">

  <label for="focus">電影金句</label>
  <input id="focus" type="text" formControlName="focus" placeholder="請輸入最喜歡的電影名言/金句">

  <label for="content">文章內容</label>
  <textarea class="lh-lg fs-7" name="content" id="content" formControlName="content"
    placeholder="請輸入電影影評/電影心得"></textarea>

  <label for="photo">上傳圖片</label>
  <input id="photo" type="file" (change)="onClickFileSelectBtn($event)">

  <img *ngIf="imageBase64" [src]="imageBase64" alt="圖片預覽" class="preview-image">

  <div class="button">
    <button type="submit" class="btn btn-primary new-btn my-4" [disabled]="articleForm.invalid">新增文章</button>
  </div>
</form>

<section>
  <router-outlet></router-outlet>
</section>
