@if (images) {
<ngb-carousel [interval]="3000">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide" class="img-fluid" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide" class="img-fluid" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide" class="img-fluid" />
    </div>
  </ng-template>
</ngb-carousel>
}

<section class="allmovie-title">
  <h2>☾ 全部文章 ☽</h2>
</section>

<section class="allmovie-search">
  <form>
    <input type="text" class="search-input" placeholder="請輸入電影名稱" #search>
    <button class="Search-button" type="button" (click)="searchResults(search.value)">搜尋</button>
  </form>
</section>

<section class="allmovie-results">
  <div class="container">
    <div class="row">
      <app-movielocation *ngFor="let movie of movieSearch| slice: (page-1) * pageSize : page * pageSize"
        class="col-12 mb-4" [moviePost]="movie">
      </app-movielocation>
    </div>
  </div>
</section>

<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="items"
  (pageChange)="onPageChange($event)"></ngb-pagination>/>
