<!-- img-fluid : 圖片的最大寬度被設置為100%，圖片會根據其父容器的寬度自動縮放 -->
<section class="home-banner">
  <div class="banner">
    <img src="/assets/banner2.jpg" alt="home-banner" class="img-fluid">>
  </div>
</section>

<section class="allmovie-title">
  <h2>☾ 全部文章 ☽</h2>
</section>

<section class="allmovie-search">
  <form>
    <input type="text" class="search-input" placeholder="請輸入電影名稱" #search>
    <button class="Search-button" type="button" (click)="SearchResults(search.value)">搜尋</button>
  </form>
</section>

<section class="allmovie-results">
  <div class="container">
    <div class="row">
      <app-movielocation *ngFor="let movie of movieSearch| slice: (page-1) * pageSize : page * pageSize"
        class="col-12 mb-4" [moviePost]="movie">
      </app-movielocation>
    </div>
  </div>
</section>

<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="items" />
