<section class="allmovie-banner">
  <app-banner [bannerImage]="'/assets/banner2.jpg'">
  </app-banner>
</section>

<section class="allmovie-title">
  <h2>☾ 全部文章 ☽</h2>
</section>

<section class="allmovie-search">
  <form>
    <input type="text" class="search-input" placeholder="請輸入電影名稱" #search>
    <button class="Search-button" type="button" (click)="SearchResults(search.value)">搜尋</button>
  </form>
</section>

<section class="allmovie-results">
  <app-movielocation *ngFor="let movie of movieSearch| slice: (page-1) * pageSize : page * pageSize"
    [moviePost]="movie">
  </app-movielocation>
</section>

<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="items" />
