.allmovie-title {
  text-align: center;
  margin: 60px;
  color: white;
}

ngb-pagination {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

ngb-pagination .page-link {
  padding: 8px 16px;
}

.allmovie-search {
  display: block;
  padding-bottom: 30px;
}

form {
  text-align: center;
}

input[type="text"] {
  background-color: black;
  border: 1px solid white;
  border-radius: 16px;
  width: 70%;
  padding: 10px 20px;
  margin: 0 10px;
  color: white;
}

button {
  background-color: black;
  border: 1px solid white;
  border-radius: 16px;
  color: white;
  padding: 10px;
  width: 100px;

}

button:hover {
  background-color: white;
  color: black;
}

.banner {
  width: 100%;
  height: auto;
}
