.login {
  margin: 90px auto;
  max-width: 800px;
  height: 70vh;
  display: grid;
  border: 6px solid var(--border-color2);
  align-items: center;
}

.login-text {
  border-right: 2px solid var(--border-color2);

  h3 {
    color: var(--text-color);
  }
}

.form-login {
  color: var(--text-color);
  position: relative;

  label {
    display: block;
    margin: 10px auto;
  }

  .error-message {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
  }
}

.password-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.password-eye {
  position: absolute;
  right: 100px;
  top: 6px;
  cursor: pointer;
  z-index: 10;
  color: var(--text-color2);
}
