.login {
  margin: 90px auto;
  max-width: 800px;
  height: 70vh;
  display: grid;
  border: 6px solid var(--border-color2);
  align-items: center;
}

.login-text {
  border-right: 2px solid var(--border-color2);

  h3 {
    color: var(--text-color);
  }
}

.form-login {
  color: var(--text-color);

  label {
    display: block;
    margin: 16px auto 10px auto;
  }
}
