.home-movie {
  max-width: 1200px;
}

img {
  width: 220px;
  height: 150px;
  object-fit: cover;
}

.movie-group {
  display: grid;
  grid-template-columns: 1fr auto;
}

.fs-3 {
  cursor: pointer;
}

.fs-3:hover {
  color: var(--texthover-color);
}

.information {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

@media(max-width: 768px) {
  .movie-group {
    display: block;
  }
}
