.home-movie {
  max-width: 1200px;
  margin: auto;
  padding: 10px 0;
}

.movie-photo {
  width: 200px;
  height: 130px;
  border-radius: 20px;
}

.movie-group {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0 0 16px 0;
}

.fs-3 {
  cursor: pointer;
}

.fs-3:hover {
  color: var(--texthover-color);
}

.location {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

a {
  text-decoration: none;
}
