<section class="home-movie">
  <div class="movie-group">
    <div class="text">
      <h3 class="movie-name">{{moviepost.name}}</h3>
      <h3 class="movie-focus">{{moviepost.focus}}</h3>
    </div>
    <img class="movie-photo" [src]="moviepost.photo" alt="">
  </div>

  <div class="location">
    <p class="movie-author">作者 : {{moviepost.author}}</p>
    <p class="movie-updated">最後更新時間 : {{moviepost.updated}}</p>
  </div>
</section>

<section class="home-button">
  <button type="submit" class="learnmore">閱讀更多</button>
</section>
