.home-movie {
  max-width: 1200px;
  margin: auto;
  padding: 10px 0;
}

.movie-photo {
  width: 220px;
  height: 146px;
  border-radius: 20px;
}

.movie-group {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0 0 16px 0;
}

.movie-name {
  color: #FFC940;
  cursor: pointer;
  letter-spacing: 1px;
}

.movie-name:hover {
  color: rgb(91, 187, 255);
  cursor: pointer;
}

.movie-focus {
  color: white;
}

.location {
  display: flex;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid white;
}

a {
  text-decoration: none;
}
