<div *ngIf="movies.length > 0">
  <div class="container">
    <label class="select py-3 mb-2 fs-3-5" for="selectMovies">請選擇要修改的電影</label>
    <select id="selectMovies" (change)="onChangeMovieSelect($event)">
      <option ngValue=0>請選擇要修改的電影</option>
      <option *ngFor="let movie of movies" [value]="movie.id">{{ movie.name }}</option>
    </select>
  </div>

  <form *ngIf="selectedMovieId" [formGroup]="articleForm" class="form-edit-article p-4 rounded"
    (ngSubmit)="onEditSubmit()">
    <label for="name">電影名稱</label>
    <input id="name" type="text" formControlName="name">

    <label for="focus">電影金句</label>
    <input id="focus" type="text" formControlName="focus">

    <label for="content">文章内容</label>
    <textarea class="lh-lg fs-7" id="content" formControlName="content"></textarea>

    <label for="photo">上傳圖片</label>
    <input id="photo" type="file" (change)="onClickFileSelectBtn($event)">

    <img *ngIf="imageBase64" [src]="imageBase64" alt="圖片預覽" class="preview-image">

    <div class="button">
      <button type="submit" class="btn btn-primary edit-btn my-4" [disabled]="articleForm.invalid">修改文章</button>
    </div>
  </form>
</div>

<section>
  <router-outlet></router-outlet>
</section>
