<div class="container">
  <section class="movielist-title mt-7 mb-5 text-center">
    <h2>☾ 全部文章 ☽</h2>
  </section>

  <!-- search作為參數傳遞給searchBtn() -->
  <section class="search-groud mb-5">
    <form class="form-search">
      <input type="text" placeholder="請輸入電影名稱" #search>
      <button type="button" class="btn btn-primary new-btn" (click)="onClickSearchBtn(search.value, search)">搜尋</button>
    </form>
  </section>

  <section>
    <div class="row">
      <app-movielocation *ngFor="let movie of movieSearch | slice: (currentPage-1) * pageSize : currentPage * pageSize"
        class="col-12 mb-3" [moviePost]="movie">
      </app-movielocation>
    </div>
  </section>

  <ngb-pagination class="py-4 d-flex justify-content-center" [(page)]="currentPage" [pageSize]="pageSize"
    [collectionSize]="movieSearch.length" (pageChange)="onPageChange($event)"></ngb-pagination>/>
</div>
