<!-- *ngIf 根據條件動態地添加或移除 DOM 元素 -->
<section class="login text-center rounded">
  <div *ngIf="!username; else loggedInContent">
    <div class="row">
      <div class="login-text m-auto col-lg-5 col-sm-12">
        <img class="mb-4" src="/assets/logo.svg" alt="logo">
        <h3>立即登入&nbsp;!</h3>
        <h3>開始撰寫影評吧&nbsp;!</h3>
      </div>

      <div class="form-login col-lg-7 col-sm-12" *ngIf="!loginError; else loggedInContent">
        <form [formGroup]="loginForm" (ngSubmit)="onClickLoginBtn()">
          <label for="username">會員名稱</label>
          <input id="username" type="text" formControlName="username" placeholder="請輸入會員名稱">

          <label for="password">密碼</label>
          <input id="password" type="text" formControlName="password" placeholder="請輸入8-15位數的數字及英文">

          <label for="email">信箱</label>
          <input id="email" type="email" formControlName="email" placeholder="請輸入信箱符合格式">

          <div class="button">
            <button type="submit" class="btn btn-primary new-btn mt-5" [disabled]="loginForm.invalid">登入</button>
          </div>
        </form>
        <!-- async會自動訂閱可觀察對象，並根據發出的值更新，並在組件銷毀時自動取消訂閱。 -->
        <div *ngIf="loginError$ | async" class="error-message">
          <p>登入失敗！請檢查用戶名、密碼和電子郵件。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #loggedInContent>
  <div class="loginsuccess" *ngIf="welcomeMessage">
    <h3>歡迎回來~{{ username }}~</h3>
    <h3>兩秒後將自動跳轉回首頁</h3>
  </div>
</ng-template>
