* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family: 'Source Sans 3', sans-serif;
}

.page-link {
  color: var(--text-color);
  background-color: var(--background-color);
}

.active>.page-link,
.page-link.active {
  background-color: var(--primary-color);
  border: 1px solid var(--border-color2);
  color: var(--text-color2);
}

.banner {
  margin-top: 76px;
}

:root {
  --primary-color: #FFC940;
  --background-color: #000000;
  --background-color2: #ffffff;
  --text-color: #ffffff;
  --text-color2: #000000;
  --border-color: #000000;
  --border-color2: #ffffff;
  --border-color3: #cccccc;
  --hover-color: #ffffff;
  --texthover-color: #77a4ff;
}

.form-search {
  display: flex;
  justify-content: center;
}

.form-search input[type="text"] {
  background-color: var(--background-color);
  border: 1px solid var(--border-color2);
  border-radius: 10px;
  width: 70%;
  padding: 4px 20px;
  margin-right: 10px;
  color: white;
}

.form-login input[type="text"] {
  background-color: var(--background-color2);
  border: 1px solid var(--border-color2);
  border-radius: 10px;
  width: 60%;
  padding: 6px 24px;
  color: var(--text-color2);
  font-size: 14px;
}

.form-article input[type="text"] {
  background-color: var(--background-color);
  border: 1px solid var(--border-color2);
  border-radius: 10px;
  width: 60%;
  padding: 6px 24px;
  color: var(--text-color);
  font-size: 14px;
}

.form-login input[type="password"] {
  background-color: var(--background-color2);
  border: 1px solid var(--border-color2);
  border-radius: 10px;
  width: 60%;
  padding: 6px 24px;
  color: var(--text-color2);
  font-size: 14px;
}

.new-btn {
  padding: 8px 28px;
  border: solid 1px var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 10px;
  cursor: pointer;

}

.new-btn:hover {
  background-color: var(--hover-color);
  color: var(--background-color);
  border: var(--background-color);
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

button:disabled,
.btn:disabled {
  background-color: #d6d6d6;
  color: #666666;
  border-color: #818181;
}

.fs-3 {
  color: var(--primary-color);
  letter-spacing: 1px;
  margin-right: 20px;
}

.fs-4 {
  color: var(--text-color);
  letter-spacing: 0.6px;
  margin-right: 20px;
  line-height: 36px;
}

.fs-6 {
  color: var(--text-color);
  letter-spacing: 0.3px;
}

.fs-3-5 {
  font-size: 20px;
}

.fs-7 {
  font-size: 14px;
}

.m-6 {
  margin: 60px;
}

.mt-7 {
  margin-top: 80px;
}

.m-2-5 {
  margin: 12px;
}

.nav-tabs .nav-link {
  color: var(--text-color);
}

.tab-content>.active {
  padding: 0 16px;
}

.P-6 {
  padding: 20px;
}
