<section class="home-banner">
  <div class="banner">
    <img src="/assets/banner1.jpg" alt="home-banner" class="img-fluid">>
  </div>
</section>

<section class="home-title">
  <h2>☾ 最新文章 ☽</h2>
</section>

<section class="results">
  <div class="container">
    <div class="row">
      <app-movielocation *ngFor="let movie of movieList | slice:0:5" class="col-12 mb-4" [moviePost]="movie">
      </app-movielocation>
    </div>
  </div>
</section>

<section class="home-btn">
  <a [routerLink]="['/allmovie']">
    <button class="allpost">閱讀更多</button>
  </a>
</section>
