@if (images) {
<ngb-carousel class="banner" [interval]="3000">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide" class="img-fluid" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide" class="img-fluid" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide" class="img-fluid" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[3]" alt="Random third slide" class="img-fluid" />
    </div>
  </ng-template>
</ngb-carousel>
}

<section class="home-title">
  <h2>☾ 最新文章 ☽</h2>
</section>

<section class="results">
  <div class="container">
    <div class="row">
      <!-- slice從第 0 個開始，到第 5 個結束（不包括第 5 個）。 -->
      <app-movielocation *ngFor="let movie of movieList | slice:0:5" class="col-12 mb-4" [moviePost]="movie">
      </app-movielocation>
    </div>
  </div>
</section>

<section class="button">
  <a [routerLink]="['/allmovie']">
    <button class="btn btn-primary new-btn">閱讀更多</button>
  </a>
</section>
