<article>
  <section class="details-movie">
    <div class="details-title">
      <h2 class="movie-name">{{moviedetails.name}}</h2>
      <h2 class="movie-focus">{{moviedetails.focus}}</h2>
    </div>
    <div class="details-location">
      <p class="details-author">作者 : {{moviedetails.author}}</p>
      <p class="details-updated">最後更新時間 : {{moviedetails.updated}}</p>
    </div>
  </section>

  <section class="details-pic">
    <img class="details-photo" [src]="moviedetails.photo" alt="{{moviedetails.name}}">
  </section>

  <section class="details-post">
    <pre>{{moviedetails.content}}</pre>
  </section>

  <section class="back">
    <a [routerLink]="['/']">
      <button class="goback">返回首頁</button>
    </a>
  </section>
</article>
