article {
  max-width: 760px;
}

.movie-details {
  display: grid;
  grid-template-columns: 1fr auto;
}

.details-pic {
  display: flex;
  justify-content: center;

  img {
    width: 740px;
    height: 100%;
  }
}

.details-post {
  text-align: center;
  line-height: 36px;

  pre {
    color: var(--text-color);
  }

  .content-text {
    //自動換行
    text-indent: 2em;
    white-space: pre-wrap;
    max-width: 800px;
    text-align: left;
  }
}

.location p {
  text-align: end;
}
