article {
  max-width: 760px;
}

.movie-details {
  display: grid;
  grid-template-columns: 1fr auto;
}

.details-pic {
  img {
    width: 740px;
    height: 100%;
  }
}

.details-post {
  pre {
    color: var(--text-color);
  }

  .content-text {
    //只會影響段落的第一行
    //自動換行
    text-indent: 2em;
    white-space: pre-wrap;
    max-width: 800px;
  }
}
