article {
  max-width: 1200px;
}

.movie-details {
  padding: 20px 0;
  display: grid;
  //第一個欄位的寬度為可用空間的1份，第二個欄位的寬度根據內容自動調整。
  grid-template-columns: 1fr auto;
}

.movie-name {
  color: #FFC940;
}

.movie-focus {
  color: white;
}

.details-location {
  color: white;
  margin: auto 0;
}

.details-pic {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.details-photo {
  margin: auto 0;
  border-radius: 20px;
}

.details-post {
  text-align: center;
  font-size: 20px;
  line-height: 40px;

  pre {
    color: white;
  }
}

.content-text {
  //將 \n 符號轉換為實際的換行
  white-space: pre-wrap;
  max-width: 100%;
}

.back {
  display: flex;
  justify-content: center;
}

.goback {
  background-color: black;
  border: 1px solid white;
  border-radius: 20px;
  margin: 10px 0 50px 0;
  color: white;
  padding: 10px 24px;
}

.goback:hover {
  background-color: white;
  color: black;
}
