<article>
  <section class="details-movie">
    <div class="details-title">
      <h3 class="movie-name">✎ 電影影評 | 真愛繞圈圈</h3>
      <h3 class="movie-focus">「無論你在哪裡，我永遠真心地愛你。」</h3>
    </div>
    <div class="details-location">
      <p class="details-author">作者 : 張安安</p>
      <p class="details-updated">最後更新時間 : 2024.10.25</p>
    </div>
  </section>

  <section class="details-pic">
    <img class="details-photo" [src]="moviedetails.photo" alt="{{moviedetails.name}}">
  </section>

  <section class="details-post">
    <p>這部電影是改編自我很愛很愛的另一部電影《P.S. 我愛妳》原著小說作者

      青梅竹馬的故事數不勝數，無論是《二十五，二十一》昇琬、智雄學霸和學渣的單純友誼，還是「好朋友不只是朋友」
      的《單戀原聲帶》宣宇、恩秀默默暗戀的愛情，《真愛繞圈圈》中Rosie和Alex的雙向暗戀，兩人從小一起長大，彼此
      相知相惜。其實明明互相喜歡對方，但卻又深怕友誼變質，選擇催眠自己，導致兜兜轉轉好幾年，數次擦身而過。所幸
      最後正視彼此多年的感情，終成眷屬。而兩人的感情或許就是在告訴每一個逃避不確認心意的人，鼓起勇氣告白，才不
      會留下一次又一次的深深地遺憾。

      《真愛繞圈圈》講述Rosie（莉莉柯林斯 飾）和Alex（山姆克萊弗林 飾）是一起長大的青梅竹馬，兩人親密無間，陪
      伴彼此渡過人生所有重要的時刻，會無時無刻惦記著對方，他們逐漸把對方活成了彼此靈魂裡的一部分，到了長大後才
      發現自己不能沒有對方，但兩人卻又因為生活中的種種事情而錯過，每一次其中一方下定決心要勇敢愛的時候，對方身
      邊就有了伴，繞了無數個彎路後，最終才終於有情人終成眷屬，在同一個時間勇敢的踏出那最重要的一步！

      “I know boy/girl friendships can be quite complicated sometimes, but you know I'm always here if you need to
      talk.”

      「我知道異性朋友關係，有時候可能變得複雜，但是你知道的我永遠在這，如果你需要人講講話。」

      Rosie和Alex從小就是青梅竹馬，雖然不是男女朋友關係，但兩人眼裡總是有對方，在彼此心中都佔有舉足輕重的地位，
      但男女關係就是這麼複雜又曖昧不明，總是在友情和愛情之間來回擺盪，摸不清真正的界線，即便如此但Alex卻永遠的在
      Rosie背後當她最有力的靠山，能夠在需要的時候出現。

      一生可以找到一個值得依靠的人有多難？但不管是家人、戀人、好友任何關係下，只要Rosie需要Alex，Alex都在。</p>
  </section>
</article>
