.delete-section {
  max-width: 1000px;
  margin: 0 auto;

  h3 {
    color: var(--text-color);
  }

  .movie-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .movie-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-color3);
    border-radius: 4px;

    .movie-info {
      color: var(--text-color);

      p {
        margin: 8px 0 0 0;
      }
    }
  }
}
