<div *ngIf="movies.length > 0" class="delete-section p-3">
  <h3 class="text-center pt-2 pb-3">請選擇要刪除的文章</h3>
  <div class="movie-list">
    <div *ngFor="let movie of movies" class="movie-item p-3">
      <div class="movie-info">
        <h4>{{ movie.name }}</h4>
        <p>{{ movie.focus }}</p>
        <p class="author">作者：{{ movie.author }}</p>
        <p class="updatetime">更新時間：{{ movie.updateTime }}</p>
      </div>
      <button class="btn btn-danger" (click)="onDeleteSelected(movie.id)">刪除</button>
    </div>
  </div>
</div>

<section>
  <router-outlet></router-outlet>
</section>
