<div *ngIf="movies.length > 0" class="delete-section p-3">
  <h3 class="text-center pt-2 pb-3">請選擇要刪除的文章</h3>
  <div class="movie-list">
    <div *ngFor="let movie of movies" class="movie-item p-3">
      <div class="movie-info">
        <h4>{{ movie.name }}</h4>
        <p>{{ movie.focus }}</p>
        <p class="updatetime">🕒&nbsp;{{ movie.updateTime }}</p>
      </div>
      <div class="btn-group">
        <button class="btn-edit" (click)="onClickEditBtn(movie.id)">
          <img class="edit" src="/assets/edit.png" alt="edit-logo">
        </button>
        <button class="btn-danger" (click)="onClickDeleteBtn(movie.id)">
          <img class="delete" src="/assets/delete.png" alt="delete-logo">
        </button>
      </div>
    </div>
  </div>
</div>

<section>
  <router-outlet></router-outlet>
</section>
